@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap");
/* font-family: 'Noto Serif Ahom', serif; */

:root {
  --title: "Noto Serif Ahom", serif;
  --grey1: #f3efe0;
  --darkgrey1: #434242;
  --black1: #222222;
  --darkgreen1: #22a39f;
}

body {
  background-color: var(--darkgrey1);
}

#memeContainer img {
  height: 800px;
  width: 600px;
  object-fit: contain;
  background-color: transparent;
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding: 10px;
}

#memeImage {
  height: 700px;
  width: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* buttons */

#previousBtn,
#openModalButton,
#savedButton,
#btnAdvices,
#nextBtn {
  background-color: var(--darkgreen1);
  text-align: center;
  font-size: 8px;
  cursor: pointer;
  transform: skew(-20deg);
  padding: auto;
}


.savedPictures {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.savedPicturesContainer {
  flex: 1;
  overflow: auto;
}

.adviceBar {
  flex: 1;
  text-align: center;
}
