@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* font-family: 'Amatic SC', cursive; */

:root {
  /* primary color */
  --whiteX: #ffffff;
  /* secondary color */
  --lightpurpleX: #676f9d;
  /* tertiary color */
  --purpleX: #424769;
  /* background color */
  --darkpurpleX: #2d3250;
  /* button and text color */
  --buttonX: #f9b17a;
  /* font-family: 'Amatic SC', cursive; */
  --titleFont: 'Amatic SC', cursive;
}

body {
  background-color: var(--darkpurpleX);
  ;
}



header {
  background-color: var(--buttonX);
  color: var(--whiteX);
  padding: 20px;
  margin: 10px 474px 20px 474px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

header:hover {
  transform: translateY(-5px);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

header:hover {
  animation: bounce 0.5s ease-in-out;
}




header h1 {
  font-size: 25px;
  font-family: var(--titleFont);
  letter-spacing: 0;
  
  padding-bottom: 5px;
  position: relative;
  text-align:center;
}


header h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: var(--lightpurpleX);
  left:50%; margin-left:-140px;
  transition: width 0.2s ease-in-out;
}
header h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: var(--lightpurpleX);
  left:50%; margin-left:-120px;
  transition: width 0.2s ease-in-out;
}

header h1:hover:before {
  width: 70px;
}

header h1:hover:after {
  width: 105%;
  max-width: 300px;
}



/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--purpleX);
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close-button {
  color: var(--buttonX);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.2s;
}

.close-button:hover {
  color: var(--whiteX);
  cursor: pointer;
}

.modal h4 {
  font-size: 34px;
  margin-bottom: 20px;
  color: var(--buttonX);
}

.modal p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--whiteX);
}
/*  container */
/*  container */
/*  container */



.row {
  display: flex;
  flex-wrap: wrap;
}

.savedPicturesContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.memeCards {
  text-align: center;
  border: 3px solid var(--lightpurpleX);
  background-color: var(--purpleX);
  box-shadow: 0 5px 5px rgba(249, 177, 122, 0.7);
  padding: 0px 10px 10px 10px;
  
  
}

.advicesSaved {
  text-align: center;
  border: 3px solid var(--lightpurpleX);
  background-color: var(--purpleX);
  box-shadow: 0 5px 5px rgba(249, 177, 122, 0.7);

  padding-top: 20px;
  padding-bottom: 30px;
}

.imgHolder {
  height: 640px !important;
  width: 480px;
  overflow: hidden;
  margin-left: 60px;
  margin-top: 10px;

  position: relative;
  display: flex;
  justify-content: center;
}

.imgHolder img {
  width: 480px !important;
  height: 640px !important;
  object-fit: fill;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bottom-buttons button {
  margin-right: 10px;
}

/* buttons */
#previousBtn,
#nextBtn,
#openModalButton,
#adviceSavedButton,
#btnAdvices,
#savedButton {
  background-color: var(--buttonX);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: var(--whiteX);
  display: flex;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  position: relative;
  font-size: 20px;
  width: 7%;
  cursor: pointer;
  margin-top: 100px;
  transition: transform 0.2s ease-in-out;
}

#previousBtn:hover,
#nextBtn:hover,
#openModalButton:hover,
#adviceSavedButton:hover,
#btnAdvices:hover,
#savedButton:hover {
  transform: scale(1.1);
}

#previousBtn:active,
#nextBtn:active,
#openModalButton:active,
#adviceSavedButton:active,
#btnAdvices:active,
#savedButton:active {
  transform: scale(0.9);
}


.savedPictureButton {
  background-color: var(--buttonX);
  width: 90%;
  font-size: 9px;
  color: var(--whiteX);
  display: flex;
  position: relative;
  margin: 5px 10px 5px 5px;
  text-align: center;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.savedPictureButton:hover {
  transform: translateY(-5px);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.savedPictureButton:hover {
  animation: bounce 0.5s ease-in-out;
}


.savedPicturesContainer {
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  max-height: 600px;
}

.savedPictures {
  text-align: center;
  border: 3px solid var(--lightpurpleX);
  background-color: var(--purpleX);
  box-shadow: 0 5px 5px rgba(249, 177, 122, 0.7);
}



.advicesSavedContainer {
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  max-height: 750px;
  background-color: var(--buttonX);
  color: var(--whiteX);
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
  
}

.advicesSavedContainer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--whiteX);
}
  
  


.adviceBar {
  background-color: var(--lightpurpleX);
  color: var(--whiteX);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
  font-style: italic;
  margin: 25px 480px 130px 480px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.adviceBar:hover {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
